.DS_Store
.idea
.vscode
*.vcd
*.fst
runs
src/user_config.json
src/config_merged.json
test/sim_build
test/user_peripherals/__pycache__/
test/user_peripherals/*/__pycache__/
test/__pycache__/
test/*results.xml
test/peri-*.xml
test/gate_level_netlist.v
test/user_peripherals/npu/assets/*ubyte.gz
*.swp
*.asc
*.bin
*.log
*.uf2
gds_render_preview*
tt/
tinyqv.json
!fpga/pico-ice/micropython/hello.bin
!fpga/pico-ice/micropython/tqv-micropython.bin
fpga/generic/test/sim_build
fpga/generic/test/user_peripherals/__pycache__/
fpga/generic/test/user_peripherals/*/__pycache__/
fpga/generic/test/__pycache__/
fpga/generic/test/*results.xml
.venv